@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: rgb(227, 227, 227);
}

nav {
  height: 94px;
  box-shadow: 0px 3px 30px #7b7b7b29;
  background-color: white;
}

nav > h1 {
  display: inline-block;
  margin-top: 1.6rem;
  margin-left: 5rem;
  background-color: white;
}

.plus-icon-fig {
  position: relative;
  margin-top: 1rem;
  display: flex;
  justify-content: end;
  padding-right: 15rem;
}
.plus-icon {
  font-size: 2rem;
  color: #00a5ec;
  text-align: center;
}

.plus-icon > span {
  font-size: 1rem;
  font-weight: 300;
  color: black;
  margin-left: 10px;
  position: absolute;
  bottom: 9px;
  background-color: rgb(227, 227, 227);
}

.grid-section {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
.cards {
  margin-top: 1rem;
  display: grid;
  justify-items: center;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
}

.checkbox {
  margin-left: 2rem;
  margin-top: 2rem;
  font-size: 1rem;
  background-color: white;
}
s {
  background-color: white;
}
span {
  background-color: white;
}
.card {
  border-radius: 10px;
  background-color: white;
  height: 18rem;
  width: 17rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card > h2 {
  padding: 20px;
  color: #00a5ec;
  font-size: 1rem;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

.card > h2 > a {
  text-decoration: none;
  background-color: white;
  color: #00a5ec;
}

.done-cheeckbox {
  color: gray;
}

/**********************************************************MediaQuries****************************************************************************/

@media (min-width: 0px) and (max-width: 768px) {
  nav {
    height: 80px;
  }
  nav > h1 {
    align-items: center;
    font-size: 20px;
  }

  .plus-icon > span {
    display: none;
  }

  .plus-icon-fig {
    padding-top: 10px;
    padding-right: 20px;
    justify-content: center;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}

/* PAGE-2 */

.task-card {
  background-color: white;
  position: absolute;
  top: 40%;
  left: 35%;
  height: 180px;
  width: 380px;
  border-radius: 10px;
  border-top-left-radius: 10px;
}

.task-card > h2 {
  background-color: white;
  font-size: large;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}

.task-card > a > i {
  background-color: white;
  color: black;
  font-size: 15px;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

.task-card > button {
  border-radius: 10px;
  position: relative;
  border: none;
  float: right;
  padding: 10px;
  right: 20px;
  background-color: #00a5ec;
  cursor: pointer;
  color: white;
}

.task-card > input {
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 80%;
  margin: 20px 40px;
}

/* Media Queries */

@media (min-width: 0px) and (max-width: 480px) {
  .task-card {
    top: 40%;
    left: 17%;
    height: 160px;
    width: 300px;
  }

  .task-card > button {
    top: 15px;
    padding: 8px;
  }

  .task-card > input {
    padding: 5px;
    width: 80%;
    margin: 10px 30px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .task-card {
    top: 40%;
    left: 25%;
    height: 170px;
    width: 330px;
  }

  .task-card > button {
    padding: 10px;
    top: 10px;
  }

  .task-card > input {
    padding: 8px;
    width: 80%;
    margin: 10px 30px;
  }
}

/* PAGE-3 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(227, 227, 227);
}

nav {
  height: 80px;
  box-shadow: 0px 3px 30px #7b7b7b29;
  background-color: white;
}

nav > h1 {
  display: inline-block;
  margin-top: 1.6rem;
  margin-left: 5rem;
}

.card {
  height: 15rem;
  width: 25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

figure {
  margin-top: 2rem;
  display: flex;
  gap: 10rem;
}

.fa-circle-arrow-left {
  color: black;
  font-size: 35px;
}

i > span {
  font-size: 16px;
  position: relative;
  bottom: 8px;
  left: 5px;
}

figure > a > i {
  font-size: 35px;
}

.plus-icon {
  color: #00a5ec;
  width: 11rem;
}

.plus-icon > span {
  color: black;
  font-size: 15px;
  position: relative;
  bottom: 7px;
  left: 5px;
}

.card-section {
  height: 80vh;
}

.card > h2 {
  padding: 1rem;
  text-align: center;
}

.main-card {
  width: fit-content;
  font-size: 1rem;
  color: black;
  padding: 20px;
}

.checkbox-icon {
  color: gray;
  margin-right: 2rem;
}

s {
  color: rgb(169, 169, 169);
  padding-right: 3rem;
}

input {
  margin-top: 1rem;
  margin-right: 2rem;
}

/* Media Queries */

@media (min-width: 0px) and (max-width: 480px) {
  figure {
    gap: 60px;
  }

  .plus-icon {
    display: inline-block;
    width: auto;
  }

  .plus-icon > span {
    display: none;
  }

  .back-icon > span {
    display: none;
  }

  .card {
    height: 30vh;
    width: 300px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  figure {
    gap: 100px;
  }

  .card {
    height: 30vh;
    width: 400px;
  }
}

/* PAGE-4 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(227, 227, 227);
}

nav {
  height: 80px;
  box-shadow: 0px 3px 30px #7b7b7b29;
  background-color: white;
}

nav > h1 {
  display: inline-block;
  margin-top: 1.6rem;
  margin-left: 5rem;
}

.card {
  height: 15rem;
  width: 25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

figure {
  margin-top: 2rem;
  display: flex;
  gap: 10rem;
}

figure > i {
  font-size: 35px;
}

figure > i > a {
  text-decoration: none;
}

figure > i > a > span {
  position: relative;
  bottom: 8px;
  left: 1rem;
  font-size: 1rem;
  color: black;
}

.plus-icon {
  color: #00a5ec;
  width: 11rem;
}

.plus-icon > span {
  color: black;
  font-size: 15px;
  position: relative;
  bottom: 7px;
  left: 5px;
}

.card-section {
  height: 80vh;
}

.card > h2 {
  padding: 1rem;
  text-align: center;
}

.main-card {
  width: fit-content;
  font-size: 1rem;
  color: black;
  padding: 20px;
}

.checkbox-icon {
  color: gray;
  margin-right: 2rem;
}

s {
  color: rgb(169, 169, 169);
  padding-right: 3rem;
}

input {
  margin-top: 1rem;
  margin-right: 2rem;
}

.task-card {
  background-color: white;
  position: absolute;
  top: 25%;
  left: 38%;
  height: 180px;
  width: 380px;
  border-radius: 10px;
}

.task-card > h2 {
  background-color: white;
  font-size: large;
  display: inline-block;
  padding: 10px;
}

.task-card > a > i {
  background-color: white;
  color: black;
  font-size: 15px;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

.task-card > button {
  border-radius: 10px;
  position: relative;
  border: none;
  float: right;
  padding: 10px;
  right: 20px;
  background-color: #00a5ec;
  cursor: pointer;
  color: white;
}

.task-card > input {
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  border: none;
  padding: 5px;
  width: 80%;
  margin: 20px 40px;
}

/* Media Queries */
@media (min-width: 0px) and (max-width: 480px) {
  .task-card {
    top: 25%;
    left: 10%;
    height: 180px;
    width: 300px;
  }

  .task-card > button {
    padding: 5px;
    right: 20px;
  }
}

@media (min-width: 481px) and (max-width: 748px) {
  .task-card {
    top: 35%;
    left: 17%;
    height: 200px;
    width: 400px;
  }

  .task-card > button {
    padding: 10px;
    right: 20px;
  }
}
